body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 20px;
}

section {
    display: flex;
}

.segment-one {

    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-45%, -45%);
}

.link-button {
    text-decoration: none;
    background-color: tomato;
    padding: 20px 40px;
    color: white;
    font-weight: 800;
    border-radius: 5px;
}